<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Bem vindo {{ title }}!</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="senha" type="password" [(ngModel)]="senha" placeholder="Password" (keyup)="verificarSenha()" class="form-control" autocomplete="off">
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="50" [style.width]="password.forca + '%'">
                                {{password.forca}}%
                            </div>
                        </div>

                        <div>
                            <span class="label label-danger">{{password.complexidade}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info" *ngIf="password.mensagens">
                            <ul *ngFor="let mensagem of password.mensagens">
                                <li>{{mensagem}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>